.root{
    -fx-background-color: #adaba5;
}

.graph-pane{
    -fx-background-color: #feffdd;
    -fx-border-color: #747474;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.tab-selection-pane{
    -fx-background-color: #d6d6d6;
    -fx-border-color: #747474;
}

.campaign-tab{
    -fx-padding: 10px;
    -fx-background-color: green;
    -fx-background-insets: 10px;
}

.time-granulation-bar{

}