.root{
    -fx-background-color: #adaba5;
}

.graph-pane{
    -fx-background-color: #f6fffa;
}

.tab-selection-pane{
    -fx-background-color: #d6d6d6;
    -fx-border-color: #747474;
}

.campaign-tab-radio-button-1{
    -fx-background-color: grey;
}

.campaign-tab-radio-button-2{
    -fx-background-color: #afafaf;
}

.campaign-tab-radio-button-1, .campaign-tab-radio-button-2{
    -fx-background-insets: 3px;
}

.time-granulation-bar-pane{
    -fx-background-color: #a9a9a9;
    -fx-background-insets: 5px;
}